{:schema-version 1, :name "afinitive-20260728T211149Z", :repo "logseq_db_afinitive", :source :electron-auto, :created-at-ms 1785273109589, :db-path "C:\\Users\\admlocal\\logseq\\graphs\\afinitive\\backup\\afinitive-20260728T211149Z\\db.sqlite"}