{:schema-version 1, :name "afinitive-20260728T191149Z", :repo "logseq_db_afinitive", :source :electron-auto, :created-at-ms 1785265909562, :db-path "C:\\Users\\admlocal\\logseq\\graphs\\afinitive\\backup\\afinitive-20260728T191149Z\\db.sqlite"}