{:schema-version 1, :name "afinitive-20260728T171149Z", :repo "logseq_db_afinitive", :source :electron-auto, :created-at-ms 1785258709536, :db-path "C:\\Users\\admlocal\\logseq\\graphs\\afinitive\\backup\\afinitive-20260728T171149Z\\db.sqlite"}